.form-wrapper {
    display: inline-block;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.search-input {
    order: 1;
    margin-bottom: 10px;
}

.search-options {
    order: 2;
    margin-bottom: 10px;
}

.submit-button {
    order: 3;
}